.Login{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.FormSpace{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}